/CatTest.class
/CheckPathTest.class
/CpTest.class
/CurlTest.class
/DirectoryTest.class
/EchoTest.class
/ExitTest.class
/FileClassTest.class
/FileSystemTest.class
/FindTest.class
/HistoryTest.class
/LsTest.class
/MkdirTest.class
/MvTest.class
/ParseClassTest.class
/PwdTest.class
/RedirectionTest.class
/RmTest.class
/SaveAndLoadTest.class
/TreeTest.class
/UserManualTest.class
/ValidationTest.class
